<div class="mainDiv container mt-2">
  <form [formGroup]="searchForm" (ngSubmit)="search()">
    <div class="row">
      <div class="col-sm">
        <label for="searchInput">NIP/KRS/REGON</label>
        <input id="searchInput" class="form-control" type="text" formControlName="searchData" />
      </div>
    </div>
    <div class="row" *ngIf="!!this.wrongSearchDataFormat">
      <div class="col-sm invalid-feedback d-block">
        Zły format parametru wyszukiwania: <br>
        &bull; NIP: 10 cyfr - XXXXXXXXXX <br>
        &bull; KRS: 6 cyfr poprzedzonych czterema zerami - 0000XXXXXX <br>
        &bull; Regon w formatach: <br>
        &nbsp;  - XXX-XXX-XX-XX <br>
        &nbsp;  - XXXXXXXXX <br>
        &nbsp;  - PLXXXXXXXXX <br>
      </div>
    </div>
    <div class="mt-3 row">
      <div class="col-sm text-center">
        <button class="btn btn-primary searchBtn" type="submit">Szukaj</button>
      </div>
    </div>
  </form>
  <form [formGroup]="displayForm">
    <div class="row">
      <div class="col-sm">
        <label for="nameText">Nazwa</label>
        <input id="nameText" type="text" class="form-control" formControlName="name" />
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <label for="streetText">Ulica</label>
        <input id="streetText" type="text" class="form-control" formControlName="street" />
      </div>
      <div class="col-sm">
        <label for="streetNumberText">Nr</label>
        <input id="streetNumberText" type="text" class="form-control" formControlName="streetNumber" />
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <label for="postalCodeText">Kod pocztowy</label>
        <input id="postalCodeText" type="text" class="form-control" formControlName="postalCode" />
      </div>
      <div class="col-sm">
        <label for="cityText">Miasto</label>
        <input id="cityText" type="text" class="form-control" formControlName="city" />
      </div>
    </div>
  </form>
  <div class="mt-5 invalid-feedback d-block text-center noDataError" *ngIf="this.dataNotFound">
    <label>Nie znaleziono danych!</label>
  </div>
</div>
