<p>
  NIP/KRS/REGON
</p>

<form [formGroup]="searchForm" (ngSubmit)="search()">
  <input class="form-control" type="text" formControlName="searchData" />
  <button type="submit">Search</button>
</form>

<div class="container">
  <div class="row">
    Nazwa
    <input type="text" class="form-control" />
  </div>
  <div class="row">
    <div class="col-sm">
      Ulica
      <input type="text" class="form-control" />
    </div>
    <div class="col-sm">
      Nr
      <input type="text" class="form-control" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      Kod pocztowy
      <input type="text" class="form-control" />
    </div>
    <div class="col-sm">
      Miasto
      <input type="text" class="form-control" />
    </div>
  </div>
</div>
